*{
    margin: 0;
    padding: auto; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

#Main_title{
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 300%;
}

.top{
    line-height: 50x;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10vh;
}

.img{
    display: inline-block;
    background-image: url(img/Logo.png) ;
    width: 50px;
    height: 50px;
    vertical-align: bottom;
    background-size: cover;
}

.contenitore{
    display: block;
    /*width: 800px;*/
    height: 500px;
    background-color:  rgb(241, 241, 241);
  
}

.bottoni{
    border-top: 60px solid rgb(241, 241, 241);
    padding-left: 50px;
    line-height: 55px;
}

.bottoni, #Newsletter{
    background-color: rgb(255, 255, 255);
    background-color: white;

    border-left: 28vh solid rgb(241, 241, 241);
    border-right: 28vh solid rgb(241, 241, 241);
}

.b-task{
    background-color: #46ADF1;
    color:  white;
    border-color: #46ADF1;
}

.b-section{
    background-color: white;
    color:  grey;
    border-color: gray;

}

.b-task , .b-section{
    border-radius: 4px;
    width: 90px;
    height: 35px;
}

body{
    display: inline-block;
    width: 100%;
    align-items: center;
}
.Nome-lista{
    font-weight: bolder;
    font-size: 30px;
}

#Newsletter{
    border-top: 3px solid rgb(241, 241, 241);    
    padding-left: 25px;
    display: block;
    border-bottom: 55px solid rgb(241, 241, 241);
}

.S1, .S2, .S3, .S4, .S5, .S6{
    border: solid 1px;
    border-radius: 7px;
    font-size: medium;
    display: inline-block;
    line-height: 31px;
    padding-left: 2px;
    padding-right: 2px;
    color:white;
}

li{
    padding-top: 4px;
    font-weight: 500;
    line-height: 55px;
    font-size: 25px;
    padding-left: 20px;
    vertical-align: middle; 
    margin-left: 38px;
}

ul {  
    margin-top: 25px;
    list-style-image: url(img/positivo.jpg) ;
}


.negativo{
    list-style-image: url(img/negativo.jpg) ;
}
.S1{
    border-color: #45ABE9;
    background-color: #45ABE9;
}
.S2{
    border-color: #9C72E4;
    background-color: #9C72E4;
}
.S3{
    border-color:#64C0A9;
    background-color:#64C0A9;
}
.S4{
    border-color: #F29E33;
    background-color: #F29E33;
}
.S5{
    border-color: #D763A1;
    background-color: #D763A1;
}
.S6{
    border-color: #B0C925;
    background-color: #B0C925;
}