*{
    margin: 0;
    padding: auto; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

#Main_title{
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 300%;
}

/*                divisori da testare

.separatore-top{
    height: 100px;
    background-color: rgb(123, 123, 123);
    border: solid 1px rgb(123, 123, 123);
    border-radius: 10px 10px 0 0;
}
.separatore-bot{
    height: 100px;
    background-color: rgb(123, 123, 123);
    border: solid 1px rgb(123, 123, 123);
    border-radius: 0 0 10px 10px;


}*/

.top{
    line-height: 50x;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10vh;
}

.img{
    display: inline-block;
    background-image: url(img/Logo.png) ;
    width: 50px;
    height: 50px;
    vertical-align: bottom;
    background-size: cover;
}

.contenitore{
    display: block;
    /*width: 800px;*/
    height: 500px;
    background-color:  rgb(241, 241, 241);
  
}

.bottoni{
    display: block;
   /* width: 800px;*/
    background-color: white;
    border-top: 10px solid rgb(241, 241, 241);
    border-left: 33vh solid rgb(241, 241, 241);
    border-right: 33vh solid rgb(241, 241, 241);
    border-bottom: 5px  solid rgb(241, 241, 241);
    padding-left: 50px;
    line-height: 50px;
}

.b-task{
    background-color: #46ADF1;
    color:  white;
    border-color: #46ADF1;
}

.b-section{
    background-color: white;
    color:  grey;
    border-color: gray;

}

.b-task , .b-section{
    border-radius: 4px;
    width: 90px;
    height: 25px;
}




body{
    display: inline-block;
    width: 100%;
    height: 800px;
    align-items: center;
}
.Nome-lista{
    font-weight: bolder;
    font-size: 35px;
}


#Newsletter{
    
    padding-left: 25px;
    display: block;
    background-color: rgb(255, 255, 255);
    background-color: white;
    border-top: 10px solid rgb(241, 241, 241);
    border-left: 33vh solid rgb(241, 241, 241);
    border-right: 33vh solid rgb(241, 241, 241);
    border-bottom: 5px  solid rgb(241, 241, 241);
}
li{

    font-weight: 500;
    line-height: 55px;
    font-size: 30px;
    padding-left: 20px;
    vertical-align: middle ;
  
}

ul {  
    margin-top: 30px;
    list-style-image: url(img/positivo.jpg) ;

    
}